* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  
  background: #2b2b2b;
  font: clamp(14px, 1.91vw, 18px) "Nunito Sans", sans-serif;
  color: #fff;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.text-center {
  text-align: center;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  margin: 2rem 0;
}
.avatar img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.avatar::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(0turn) scale(1.05) ;
  top:50%;
  left:50%;
  border: 5px dashed #fff;
  animation: spin 5s ease-in-out infinite;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem
}

.subtitle {
  font-size: calc(1.25rem);
  margin-bottom: 2rem;
}

.links a {
  display: inline-block;
  margin: 0.25rem;
}
.section__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}


.text-justify {
  text-align: justify;
  margin-bottom: 1rem;
}
.section__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
  gap: 2rem;
  width: 100%;
}

.card {
  border-radius: 5px;
  padding: 2rem;
  background-color: #444;
}
.card__image {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
}

.card__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
}

.card__description {
  margin-bottom: 1rem;
}

.card__footer ul{
  width: 100%;
  list-style: none;
  margin-bottom: 1rem;
}

.button-demo {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: calc(1.618em / 4);
  margin-bottom: calc(1.618em / 2);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button-demo:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

footer {
  width: 100%;
  background: #121212;
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section__feature {
    display: flex;
    gap: 2rem;
  }
  .section__feature img {
    margin-bottom: 1rem;
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn) scale(1.05) ;
  }
}